@{ ViewData["Title"] = "About"; }

<h1>@ViewData["Title"]</h1>

<p class="w3-opacity"><i>About Us</i></p>
<p class="w3-justify">
    
    Hello, I am a High school student currently in my final year of high school. I created this database a project we had to do in our digital technologies class.
    <br /> This website was specifically built for people with busy lifes. In this website a person can come and look at where they can buy food close to them and also see if the food the restaurant is serving is something they enjoy eating.<br />

</p>

<h2>Aim of the Database</h2>
<p>
    The aim of this database is to help people save time, and help restaurants promote food products they have, because the database promotes all the food a restaurant would have.
    
</p>

<img src="/css/images/lg.png" alt="Food Logo">