@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Food Database</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the General Food Information Website </h2>
        <p>
            PUT SOME TEXT HERE
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build it from scratch</h2>
        <p>MORE TEXT + VIDEO LINK (MAYBE)</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>TEXT</h2>
        <p>MORE TEXTTTTTTTTTT</p>
        <p><a class="btn btn-default" href="https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/data/ef-mvc/intro/samples/5cu-final">See project source code &raquo;</a></p>
    </div>
</div>