@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Food Database</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the FoodGuide Website </h2>
        <p>
            In this Website you are able to see data on Restaurants around New Zealand with their locationa and the foods they sell. As an extra perk you are also able to see the details of the people that are employee at the restaurants.      
        </p>
    </div>
    <div class="col-md-4">
        <h2>How to build a database like this.</h2>
        <p>Contoso Unversity link + Identity creation link</p>
        <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/intro?view=aspnetcore-6.0">See the tutorial &raquo;</a></p>
        <iframe width="460" height="215" src="https://www.youtube.com/embed/I-ZzFLruiuo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-md-4">
        <h2>GitHub</h2>
        <p>Link for Github commits and also all the you can see the all the development stages.</p>
        <p><a class="btn btn-default" href="https://github.com/menukaweerasekara/Food.git">view Github page &raquo;</a></p>
       
    </div>
    <img src="~/css/images/lg.png" 
     width="400" 
     height="500" />
</div>